#budget-filter > mat-card {
    padding: 0.5em;
    margin-bottom: 15px;
    background-color: #f9f8f8;
}

#budget-filter-card {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap:1rem;
}

@media (min-width: 520px) {
    #budget-filter-card { 
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1300px) {
    #budget-filter-card { 
        grid-template-columns: repeat(5, 1fr); 
    }
}

.filter-title {
    font-weight: bold;
}

.filter-type {
    padding-right: 20px;
}

#budget-filter-type .filter-title {
    padding-left: 10px;
}