.expense-add-form {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    margin: 0px auto;
}

.category, .account {
    margin-left: 30px;
}

h3 {
    text-align: center;
}
mat-card {
    text-align: center;
}

.add-new {
    margin-left:10px;
}